.form-body > textarea {
    background-color: #f7f7f7;
    color: #9a9a9a;
    resize: none;
    width: 100%;
    margin-top: 5%;
    border: #99a7ee solid 2px;
    font-family: Programme, sans-serif;
}

textarea {
    padding: 5px;
}


.form-button {
   margin-top: 10px;
   margin-bottom: 5%;
}

.form-button > button {
    padding: 10px;
}

.save {
    font-family: Programme, sans-serif;
    border: 3px solid #0ecb27;
    padding: 3px;
    color: #0ecb27;
}

.save:hover {
    background-color: #f7f7f7;
}
.cancel {
    font-family: Programme, sans-serif;
    color: #9a9a9a;

}

.signup-annotate {
    font-family: Programme, sans-serif;
    color: black;
    border: black solid 2px;
    padding: 4px 8px;
    font-size: 16px;
    line-height: 1.4rem;
    
}

textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

textarea:focus {
  box-shadow: 0 0 5px #0ecb27;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #0ecb27;
}

.search-input > input {
  outline: none;
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}