.annotation-contributor {
    font-size: 20px;
    font-family: Programme, sans-serif;
    padding: 5px;
    color: #99a7ee;
    margin: 5px;
}


.annotation-body {
    font-size: 16px;
    font-family: Programme, sans-serif;
}
.annotation-body > p {
    padding: 10px;
}