html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
}


/* headers */

.genius-header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 38px;
    padding: 4.8px;
    background: #ffff64;
    line-height: 1.45;
    font-family: Programme, sans-serif;
    text-transform: uppercase;
}

.user-buttons {
    display: flex;
    padding: .75rem .5rem 0;
    font-size: 14px;
    align-items: center;
    font-family: Programme, sans-serif;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    bottom: 5px;
}

.user-buttons>a {
    display: block;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    font-family: Programme, sans-serif;
    border-bottom: 3px solid transparent;
}

.user-buttons>a:hover {
    border-bottom: 3px solid red;
}

.user-buttons a.active {
    border-bottom: 3px solid red;
}

.logo-link {
    align-self: center;
}

.search-input {
    background-color: #fff;
    position: relative;
    padding: .4rem 2rem .3rem .5rem;
    box-shadow: 0 0 3px #e9e9e9 inset;
    font-weight: 400;
    font-size: 1rem;
    border: 0;
}

.search-input>a {
    font-family: Programme, sans-serif;
}

.tool-header {
    height: 38px;
    font-family: Programme, sans-serif;
    font-size: 14px;
}

.header-links {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 15px;
    
}

.tool-header>.header-links {
    padding: 10px;
    text-transform: uppercase;
}

.header-links>li {
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.header-links>li:hover {
    color: #ffff64;
}

.header>.shop {
    border-left-color: white;
    border-right-color: white;
}


/*  footers  */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: Programme, sans-serif;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffff64;
    background: black;
    min-height: 38px;
}

.footer-links {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-links>li:hover {
    color: #99a7ee;
    cursor: pointer;
}


/* footers part 2 */

.artists-footer {
    display: flex;
    justify-content: center;
    color: #99a7ee;
    flex-wrap: wrap;
    padding: 10px;
    min-height: 38px;
}

.footer-artists-links {
    display: flex;
    flex-direction: column;
}

.artist-letters {
    display: flex;
}

ul>li {
    list-style-type: none;
    padding: 10px;
}


.verified-artist>li:hover {
    color: #ffff64;
}

.verified-artist>li {
    list-style-type: none;
}

.all-artists {
    color: #ccc;
    display: inline;
}

.artist-letters>li {
    list-style-type: none;
    padding: .5rem;
    margin: auto;
}

.artist-letters>li:hover {
    color: #ffff64;
}

/* buttons */
.modal-button {
    padding: 5px;
}


.modal-button:hover {
    cursor: pointer;
    border-bottom: 10px solid #ff1464; /* or whatever colour you'd prefer */
    margin: 5px;
}