
.login-form-box {
    background: #e9e9e9;
    padding: 1rem 1.313rem;
    margin: 1rem auto;
    width: 420px;
    animation: expand_in .15s cubic-bezier(.25,.46,.45,.94);
}

.login-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}

.session-submit{
    padding: 4px 8px;
    border: black solid 2px;
    width: fit-content;
    border-width: .15rem;
    line-height: 1.4rem;
}

.session-submit:hover {
    cursor: pointer;
    background-color: #ccc;
}

.login-input {
  border: 2px solid gray;
  padding: 1px;
  border-color:.15rem solid #ccc;
  width: 100%;
  height: 35px;
}

.login-welcome {
    align-self: center;
    color: #99a7ee;
    display: block;
    border-bottom: 2px solid  #99a7ee;
    width: 100%;
    font: 15px;

}

.login-header-text {
//   text-align: center;
    display: block;
    padding: 12px;
    text-align: center;
    font: 16px;
}