
.artist-header {
    padding: 0 0 1.5rem 0;
    height: 280px;
    max-height: 7%;
    background: #ffff64
}

.main-section {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 0px 16px 0px 24px;
}

.comment-column-layout {
    display: inline-block;
    margin-top: 3%;
    width: 30%;
    background-color: rgba(0,0,0,.6);
}

.song-lyrics-body {
    width: 40%;
    height: 100%;
    display: inline-block;
    margin: 20px;
    padding: 0px 16px 0px 24px;
    font-family: Programme, sans-serif;
    font-size: 18px;

}

// .song-lyrics-row {
//     display: block;
//     padding: 5px;
// }

.song-lyrics-body > button:nth-child(n+2):hover {
    background-color: #ffff64;
    width: fit-content;
}

.song-lyrics-body > button {
    padding: 5px;
}


.song-lyrics-body > p {
    display: block;
    padding: 5px;
}

#song-title {
    color: #9a9a9a;
    font-family: Programme, sans-serif;
    // margin-top: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    // margin-top: -35px;
    margin-left: -3px;
    padding: 7px;
}

#song-title > p:hover{
    background-color: white;
}

.artist-header > img {
    position: absolute;
    width: 100%;
    height: 35%;
    //object-fit: cover
    background-size: contain;
    
}

.artist-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.album-image {
    position: relative;
    background-size: contain;
    border: solid black 1px;
   

}

.album-image > img {
    width: 200px;
    height: 200px;
    max-height: 7%;
    margin-top: 10%;
}

.album-info {
    position: relative;
    align-self: center
}

.album-info .album-image {
    display: inline-block;
}
