
.artist-header {
    padding: 0 0 1.5rem 0;
    position: relative;
    height: 280px;
    max-height: 20%;
    width: 100%
}

.artist-header::before{
    background: linear-gradient(to bottom,rgba(0,0,0,.4) 0,rgba(0,0,0,.65) 70%);
    content: " ";
    background-color: black;
    position: relative;
    animation: fade_in_background_image .75s both;
}

.main-section {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 0px 16px 0px 24px;
}

.comment-column-layout {
    display: inline-block;
    margin-top: 3%;
    width: 30%;
    border-left: #99a7ee solid 3px;
    padding-left: calc(1rem + 4px);
    height: fit-content;
    box-shadow: 3.01em 0 0 white, -0.01em 0 0 white;
}

.song-lyrics-body {
    width: 40%;
    height: 100%;
    display: inline-block;
    margin: 20px;
    padding: 0px 16px 0px 24px;
    font-family: Programme, sans-serif;
    font-size: 18px;

}

// .song-lyrics-row {
//     display: block;
//     padding: 5px;
// }

// .song-lyrics-body > button:nth-child(n+1):hover {
//     background-color: #ffff64;
//     width: fit-content;
// }

.song-lyrics-body > button {
    padding: 5px;
    margin: 3px;
}


.song-lyrics-body > p {
    display: block;
    padding: 5px;
}

#song-title {
    color: #9a9a9a;
    font-family: Programme, sans-serif;
    // margin-top: 1rem;
    font-size: 12px;
    text-transform: uppercase;
    // margin-top: -35px;
    margin-left: -3px;
    padding: 7px;
}

#song-title > p:hover{
    background-color: white;
}

.artist-header > img {
    position: relative;
    width: 100%;
    height: 280px;
    //object-fit: cover
    background-size: contain;
    //opacity: 0.8; 
    filter: brightness(0%);
    
}

.artist-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.album-image {
    //position: relative;
    background-size: contain;
    border: solid black 1px;

}

.album-image > img {
    position: absolute;
    object-fit: contain;
    //max-height: 25%;
    height: 220px;
    margin-top: 6%;
    top: -22%;
    left: 20%;
    border: gray solid 3px;
}

.album-info {
    position: absolute;
    align-self: center;
    font-size: 2.25rem;
    top: 30%;
    left: 36%;
    font-feature-settings: "ss07","ss08","ss11","ss12","ss14","ss15","ss16","ss18","ss19","ss20","ss21";
}

.album-info .album-image {
    display: inline-block;
}


.album-info-title {
    color: #ffff64;
    //font-size: 2.25em;
    font-size: 36px;
    font-family: Programme, sans-serif;
    font-weight: 700px;
    margin-bottom: .25rem;
    //line-height: 1.5rem;
}

.album-info-album {
    color: #7d8fe8;
    font-family: Programme, sans-serif;
    font-size: 16px;
}

.album-info-artist {
     font-family: Programme, sans-serif;
     color: white;
     font-size: 24px;
     margin-bottom: .25rem;
     //line-height: 1.4rem;
}

.whiteButton {
    background-color: white;
}

.yellowButton {
    background-color: #ffff64;
}

.greyButton {
    
    background-color: #e9e9e9;
    box-shadow: 0.01em 0 0 #e9e9e9, -0.01em 0 0 #e9e9e9;
}


.fix-margins {
    display: inline-block;
    margin-left: 8px;
    background-color: #e9e9e9;
    width: fit-content;
    height: 30px;
    padding: 3px;
    margin-bottom: 7px;
}

.fix-margins:hover {
    background-color: #ffff64;
}



.album-image-artist {
    //position: relative;
    background-size: contain;

}

.album-image-artist > img {
    position: absolute;
    object-fit: contain;
    //max-height: 25%;
    height: 220px;
    margin-top: 5%;
    top: -20%;
    left: 20%;
    border: 4px solid #0ecb27;
    border-radius: 100%;
}
