.songInfo-box {
    position: absolute;
    top: 20%;
    width: 100%;
    font-family: Programme, sans-serif;
}

.songInfo {
    display: flex;
    border-bottom: black;
    justify-content: center;
    align-items: center;
    padding:0 1rem;
    // width: fit-content;
}

.songInfo:hover {
    background-color: #ccc;
    // width: fit-content;
    cursor: pointer;
}

.songInfo-number, .songInfo-name{
    font-weight: bold;
}

.songInfo-number {
    align-self: center;
}

.songInfo > li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    min-height: 66px;
}

.songInfo:nth-child(1) > li:nth-child(1) { 
    border-top: .15rem solid #000
}

.songInfo:nth-child(1) > li:nth-child(2) { 
    border-top: .15rem solid #000
}

.songInfo:nth-child(1) > li:nth-child(3) { 
    border-top: .15rem solid #000
}


// .songInfo > li:hover {
//     background-color: red;
// }


.songInfo-name {
    width: 57vw;
    padding: 3px;
}

.songInfo-name {
    display: block;
    font-size: 20px;
    font-weight: 700px;
    padding: 5px;
    font-family: Programme, sans-serif;
}

.songInfo-artist {
    display: block;
    font-size: 12px;
    font-family: Programme, sans-serif;
}