.songInfo-box {
    position: relative;
    top: 14%;
    width: 60%;
    margin: 0% 20%;
    font-family: Programme, sans-serif;
    border-top: solid .15rem #000;
}

.songInfo {
    display: flex;
    border-bottom: black;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #ccc;
    padding: 0 1rem;
    box-sizing: border-box;
    //FIXME: incase breaks 
    height: 60px;
}

.songInfo:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.songInfo-number, .songInfo-name{
    font-weight: bold;
}

.songInfo-number {
    align-self: center;
    font-size: 10px;
}


.songInfo-name {
    width: 57vw;
    padding: 3px;
}

.songInfo-name {
    display: block;
    font-size: 20px;
    font-weight: 700px;
    padding: 5px;
    font-family: Programme, sans-serif;
}

.songInfo-artist {
    display: block;
    font-size: 12px;
    font-family: Programme, sans-serif;
}

li > img {
    margin-top: -11px;
    height: 60px;
    width: 60px;
    margin-bottom: -14px;
}

.tempFooter {
    position: fixed;
    display: block;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;

}

.align-center-home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: -2%;
}

.top-charts-title {
   font-family: Programme, sans-serif;
   font-size: 34px;
   display: block;
   align-self: center;
   font-weight: 700px;
   padding: 5px;

}

.all-charts-title {
   margin: 0% 20%;
   font-family: Programme, sans-serif;
   font-size: 34px;
   display: block;
   font-weight: 700px;
   padding: 5px;

}